demos/flows.json
[{"id":"6537b2a9.d7112c","type":"tab","label":"LW14 Test","disabled":false,"info":""},{"id":"c08dc647.3d416","type":"lw14 dacp","z":"6537b2a9.d7112c","name":"DACP 100 to all","busno":"1","address":"23","dali_type":"0","dali_adr":"0","dali_value":"100","x":340,"y":60,"wires":[["560cc786.cf5c9"]]},{"id":"560cc786.cf5c9","type":"debug","z":"6537b2a9.d7112c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"3cf09903.f1ce86","type":"inject","z":"6537b2a9.d7112c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":60,"wires":[["c08dc647.3d416"]]},{"id":"5d2ba2df.d9c4d4","type":"lw14 cmd","z":"6537b2a9.d7112c","name":"MAX to device '0'","busno":"1","address":23,"dali_type":"2","dali_adr":"0","dali_value":"5","x":350,"y":180,"wires":[["560cc786.cf5c9"]]},{"id":"47127849.9e103","type":"inject","z":"6537b2a9.d7112c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":180,"wires":[["5d2ba2df.d9c4d4"]]},{"id":"b8fcfac8.1dfc3","type":"lw14 scene","z":"6537b2a9.d7112c","name":"Call Scene '0'","busno":"1","address":23,"dali_type":"0","dali_adr":"0","dali_value":0,"x":340,"y":240,"wires":[["560cc786.cf5c9"]]},{"id":"cad85494.368c38","type":"inject","z":"6537b2a9.d7112c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":240,"wires":[["b8fcfac8.1dfc3"]]},{"id":"39ab1fe8.46937","type":"lw14 query","z":"6537b2a9.d7112c","name":"Actual Level of device '0'","busno":"1","address":23,"dali_adr":"0","dali_value":"160","x":370,"y":300,"wires":[["560cc786.cf5c9"]]},{"id":"aa300509.23683","type":"inject","z":"6537b2a9.d7112c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":300,"wires":[["39ab1fe8.46937"]]},{"id":"400c3a30.b7ad6c","type":"inject","z":"6537b2a9.d7112c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":120,"wires":[["cb790998.fbb848"]]},{"id":"cb790998.fbb848","type":"lw14 dacp","z":"6537b2a9.d7112c","name":"DACP 153 to all","busno":"1","address":"23","dali_type":"0","dali_adr":"0","dali_value":"153","x":340,"y":120,"wires":[["560cc786.cf5c9"]]}]